*{
    color: #2c3e50;
}
.butn-left {
    margin-right: 10px;
}
.crstyle {
    margin-top: 150px !important;
};

.hoofdtext{
	color: white;
}

.text {
	color: white;
} 

.image_top {
	background-image: url("view/images/homePic.jpg");
}